{% extends 'layout.html' %}
{% block body %}
{% if users is defined %}
<table class="table table-hover table-bordered results">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
        </tr>
        <tr class="warning no-result">
            <td colspan="4"><i class="fa fa-warning"></i> No result</td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        {% if loop.index0 % 2 == 1 %}
        <tr>
            {% else %}
        <tr class="table-secondary">
            {% endif %}
            <th scope="row">{{user.givenName}} {{user.middleName}} {{user.sureName}}</th>
            <td>{{user.location}}</td>
            <td>{{user.primaryPhone}}</td>
            <td>{{user.email}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-danger">
    <h4>LDAP error:</h4> <br />
    {{ error_msg }}
</div>
{% endif %}
{% endblock %}